/build.gradle
/gradle.properties
/gradlew
/gradlew.bat
/gradle
.gradle
settings.gradle

/local.properties
*.iml
/.idea
reminders.db
.DS_Store
/build
/captures


/app/build
/app/proguard-rules.pro
/app/build.gradle
